/* Use the single port interrupt with the sense mechanism for all gpio pin interrupts */
/ {
	xiao_ble_battery_dev: xiao_ble_battery_dev {
		compatible = "xiao-ble-battery";
		charging-enable-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;
		read-enable-gpios = <&gpio0 14 GPIO_ACTIVE_LOW>;
		charge-speed-gpios = <&gpio0 13 GPIO_ACTIVE_LOW>;
		adc-channel = <NRF_SAADC_AIN7>;
	};
};

&i2c0 {
	status = "okay";
};

&gpio0 {
	status = "okay";
	sense-edge-mask = < 0xffffffff >;
};

&uart0 {
    status = "disabled";
};

&uart1 {
    status = "disabled";
};

&spi0 {
    status = "disabled";
};

&spi1 {
    status = "disabled";
};


&spi2 {
	status = "disabled";
};

&spi3 {
	status = "disabled";
};

&qspi {
	status = "disabled";
};

